*,::before, ::after{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

 body {
 	display: flex;
 	align-items: center;
 	justify-content: center;
 	width: 100%;
 	height: 100vh;
 	position: relative;
 	background-color: black;

 }

.sun{
	width: 200px;
	height: 200px;
	background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
	position: absolute;
	top:calc(50%-100px);
	left: calc(50%-100px);
	border-radius: 50%;
	box-shadow: 4px 4px 66px 64px rgba(176, 54, 81, 0.4);
	animation: loader 5s linear infinite;
}
 .loader{
 	width: 600px;
 	height: 600px;
 	border: 2px solid transperent;
 	border-radius: 50%;
 	position: relative;
 	animation-fill-mode: forwards;
 	z-index: 100;
 
 	animation: loader 10s linear infinite;
 	
 }

 .loader::before{
 	content:'';
 	position: absolute;
 	width: 80px;
 	height: 80px;
 	background-color: #B0E0E6;
 	border-radius:50%;
 	box-shadow: 4px 4px 40px 20px rgba(51, 121, 174,1),
 				4px 4px 100px 31px rgba(255, 255, 0, 0.8);


 }

.mercuri{
	width: 450px;
	height: 450px;
	border: 1px solid transperent;
	border-radius: 50%;
	animation: loader 3s linear infinite;
	position: absolute;
}
.mercuri::before{
	content: '';
	width: 50px;
	height: 50px;
	position: absolute;
	top: 50px;
	left: 50px;
	background-color: grey;
	border-radius: 50%;
	box-shadow: 4px 4px 40px 20px rgba(51, 121, 174,0.4),
 				4px 4px 100px 31px rgba(255, 255, 0, 0.8);	

}

.eath{
	width: 900px;
	height: 900px;
	border: 1px solid transperent;
	border-radius: 50%;
	position: absolute;
	z-index: 10;
	animation: loader 20s linear infinite;

}
.eath::after{
	content: "";
	position: absolute;
	top:0;
	left: 0;
	width: 20px;
	height: 20px;
	background-color: white;
	border-radius: 50%;
	animation: moon 2s linear infinite;
	animation-direction: alternate;
	z-index: 5;
}

.eath::before{
	content:'';
	position: absolute;
	top:0;
	left: 20px;
	width: 150px;
	height: 150px;
	background-color: blue;
	border-radius: 50%;
	box-shadow: 4px 4px 40px 20px rgba(51, 121, 174,1),
 				4px 4px 100px 31px rgba(255, 255, 0, 0.8);	
}

 @keyframes loader {
 	100%{
 		transform: rotate(360deg);
 	}
 }

 @keyframes moon{
 	0%{
 		transform: translate(10px, 10px)
 	}


 	100%{
 		transform: translate(200px, 200px);
 	}
 }